header {
    background-color: white;
    border-bottom: 0.5px solid #000000
}

.Menu{
    position: absolute;
    width: 100%;

    transform: translateX(-110%);
    transition: 200ms linear;
}

.btnMenu {
    position: absolute;
    width: 25px;
    padding: 10px 10px;
    float: left;
    display: block;
}

.open{
    transform: translateX(0);
}

.Logo {
    width: 40%;
    padding: 10px;
    padding-left: 30%;
}

.search_icon{
    background-color: white;

    width: 25px;
    float: right;
    padding: 10px 10px 5px 10px;
}

#search_input {
    border-radius: 50px;
    border: 1px solid #808080;
    padding-left: 1%;

    font-size: 15px;

    width: 70%;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 35px;
    float: left;

    display: none;
}


                /*Menu*/
#Btn{
    font-size: 25px;
    text-align: center;
    position: absolute;
    word-spacing: 10px;
    padding: 0px;
}

.Menu li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #808080;
    background-color: white;
}

.Menu li:hover {
    background-color: #C0C0C0;
}

.Menu li a {
    color: #000000;
    text-decoration: none; /*Sem underline*/
    width: 100%;
}


                /*CONTEUDO*/
h1{
    font-size: 25px;
    text-align: center;
}

h2 {
    font-size: 23px;
    text-align: center;

    color: #808080;
    padding-bottom: 20px;
}

p {
    text-indent: 10px;
    font-size: 20px;
    word-spacing: 3px;
}

                /*ASIDE*/

#Aside_Image {
    width: 220px;
    height: 329px;
}

#idade {
    /*ORIGINAL -> 114 x 110*/

    width: 19px; /*6x Smaller*/
    height: 19px;
    margin: auto;
}

table, td, th, tr {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.Aside_autors ul, .Aside_category ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Aside_autors ul li, .Aside_category ul li {
    position: relative;
    margin: 0;
    padding: 0;
}

#d_Aside {
    display: none;
}

                /*VIDEO*/

/*Tamanho original: width="560", height="315"*/
iframe{
    padding-bottom: 20px;
    position: relative;
    top: 20px;
    
    width: 100%;
    height: 30%;
}
